<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
    <listener class-name="bobchos.bar.TestComponents.Listeners"></listener>
  </listeners>
  <test  name="PurchaseOrderTest">
    <classes>
      <class name="bobchos.bar.Test.PurchaseOrderTest"></class>
    </classes>
  </test>
  <test  name="ErrorValidationTest">
    <classes>
      <class name="bobchos.bar.Test.ErrorValidationTest"></class>
    </classes>
  </test>
</suite>
